* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #F2EFDF;
  --dark-purple-color: #211426;
  --purple-color: #413659;
  --light-purple-color: #656F8C;
  --green-color: #9BBFAB;
}

body {
  background-color: var(--dark-purple-color);
}

body, h1, h2, h3 {
  font-family: 'Cutive Mono', monospace;
}

svg {
  display: block;
}

#music {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  padding: 2em 1em;
  user-select: none;

  --background-color: var(--purple-color);
  --dissonance-color: var(--dark-purple-color);
  --consonance-color: var(--light-purple-color);
  --notes-color: var(--white-color);
}
